{% extends 'sublayout_frontend.html.twig' %}

{% block content %}
    <section>
        <div class="container">
            <div class="section-content">
                <div class="row">
                    <div class="product">
                        <div class="col-md-5">
                            <div class="product-image">
                                <div class="zoom-gallery">
                                    {% if barang.profileBarang is not null %}
                                        <a href="{{ asset('uploads') }}/images/barang/{{ barang.profileBarang }}" title="Title Here 1"><img src="{{ asset('uploads') }}/images/barang/{{ barang.profileBarang }}" alt=""></a>
                                    {% else %}
                                        <a href="http://placehold.it/460x460" title="Title Here 1"><img src="http://placehold.it/460x460" alt=""></a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="product-summary">
                                <h2 class="product-title">{{ barang.namaBarang }}</h2>
                                <div class="price"> <span class="amount">{{ barang.hargaBarang }}</span> </div>
                                {#<div class="short-description">#}
                                    {#<p>Donec volutpat purus tempor sem molestie, sed blandit lacus posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut posuere mollis nulla ut consectetur.</p>#}
                                {#</div>#}
                                {#<div class="tags"><strong>SKU:</strong> EA34</div>#}
                                {#<div class="category"><strong>Category:</strong> <a href="#">Book</a>, <a href="#">Note Book</a></div>#}
                                {#<div class="tags"><strong>Tags:</strong> <a href="#">Bag</a>, <a href="#">Ladies Bag</a></div>#}
                                <div class="cart-form-wrapper mt-30">
                                    {#<form enctype="multipart/form-data" method="post" class="cart">#}
                                    {#<input type="hidden" value="productID" name="add-to-cart">#}
                                    {#<table class="table variations no-border">#}
                                    {#<tbody>#}
                                    {#<tr>#}
                                    {#<td class="name">Amount</td>#}
                                    {#<td class="value">#}
                                    {#<div class="quantity buttons_added">#}
                                    {#<input type="button" class="minus" value="-">#}
                                    {#<input type="number" size="4" class="input-text qty text" title="Qty" value="1" name="quantity" min="1" step="1">#}
                                    {#<input type="button" class="plus" value="+">#}
                                    {#</div>#}
                                    {#</td>#}
                                    {#</tr>#}
                                    {#</tbody>#}
                                    {#</table>#}
                                    {#<button class="single_add_to_cart_button btn btn-theme-colored" type="submit">Add to cart</button>#}
                                    {#</form>#}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="horizontal-tab product-tab">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#tab1" data-toggle="tab">Description</a></li>
                                    {#<li><a href="#tab2" data-toggle="tab">Additional Information</a></li>#}
                                    {#<li><a href="#tab3" data-toggle="tab">Reviews</a></li>#}
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane fade in active" id="tab1">
                                        <h3>Product Description</h3>
                                        {% if barang.description is not null %}
                                            <p>{{ barang.description }}</p>
                                        {% else %}
                                            <p>Tidak ada Data</p>
                                        {% endif %}
                                        {#<p>One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iste, architecto ullam tenetur quia nemo ratione tempora consectetur quos minus voluptates nisi hic alias libero explicabo reiciendis sint ut quo nulla ipsa aliquid neque molestias et qui sunt. Odit, molestiae.</p>#}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}