{% extends 'layout_frontend.html.twig' %}

{% block subLayout %}




<!-- LOADER -->
<div class="loader">
    <div class="tt-loading-center">
        <div class="tt-loading-center-absolute">
            <div class="tt-object object_four"></div>
            <div class="tt-object object_three"></div>
            <div class="tt-object object_two"></div>
            <div class="tt-object object_one"></div>
        </div>
    </div>
    <div id="loading-text">LOADING</div>
</div>
<!--LOADER Ends-->

<!--HEADER-->
<header class="transparent">
    <div class="container-fluid">
        <nav class="navbar navbar-default navbar-sticky bootsnav">
            <div id="menu_bars" class="right">
                <span class="t1"></span>
                <span class="t2"></span>
                <span class="t3"></span>
            </div>
            <a class="navbar-brand" href="{{ path('app_index') }}"><img src="{{ asset('assets_frontend') }}/images/prinoo-01.png" class="logo" alt=""></a>
            <div class="sidebar_menu">
                <nav class="pushmenu pushmenu-right">
                    <a class="push-logo" href="{{ path('app_index') }}"><img src="{{ asset('assets_frontend') }}/images/prinoo-01.png" alt="logo"></a>
                    <ul class="push_nav centered">
                        {% if app.user.username is not defined %}
                            <li class="last"><a href="{{ path('app_login') }}">Login</a></li>
                        {% else %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="last"><a href="{{ path('app_admin_index') }}">Dashboard</a></li>
                            {% else %}
                                <li class="last"><a href="{{ path('app_user_home') }}">Dashboard</a></li>
                            {% endif %}
                        {% endif %}
                        <li class="last"><a href="{{ path('app_faq') }}">FAQ</a></li>
                    </ul>
                    <div class="clearfix"></div>
                </nav>
            </div>
        </nav>
    </div>
</header>
<!--HEADER ends -->

<!-- ABOUT -->
<section id="about" class="padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 wow fadeInLeft" data-wow-delay="500ms">
                <h2 class="heading_space">Apa sih Kami?</h2>
                <p class="bottom35">Prinoo adalah platform pemesanan event kits online yang dibuat untuk memudahkan para Event Organizer / Creator Event untuk memesan segala kebutuhan cetak untuk Event.</p>
                {#<p class="bottom35">Consequat Duis aute to irure dolor in reprehenderit in voluptate velit ease cillum dolore eu fugiat nulla pari excepteur sint. occaecat cupidatat non proident.</p>#}
                {#<a class="btn_default btn_border bottom15" href="#.">ABOUT US</a>#}
            </div>
            <div class="col-sm-5 wow fadeInRight" data-wow-delay="800ms">
                <div class="image"><img src="{{ asset('assets_frontend') }}/images/about2.jpg" class="img-responsive" alt="About"></div>
            </div>
        </div>
    </div>
</section>
<!-- ABOUT Ends -->



<!--Gallery-->
<section id="portfolio_top" class="padding_bottom z_top">
    <div class="container">
        <div id="portfolio-top" class="cbp cbp-l-grid-work">
            <div class="cbp-item portfolio_border">
                <a href="{{ asset('assets_frontend') }}/images/home2-portfolio3.jpg" class="cbp-lightbox">
                    <img src="{{ asset('assets_frontend') }}/images/home2-portfolio1.jpg" alt="">
                    {#<div class="overlay">#}
                        {#<div class="overlay_bottom">#}
                            {#<h4 class="text-uppercase">creative</h4>#}
                            {#<p>35 WP Annyversary</p>#}
                        {#</div>#}
                    {#</div>#}
                </a>
            </div>
            <div class="cbp-item no_shadow">
                <div class="padding_top text_wrap bg_transparent">
                    <h2 class="bottom10 text-capitalize">Gallery Kami</h2>
                    {#<p></p>#}
                </div>
            </div>
            <div class="cbp-item portfolio_border">
                <a href="{{ asset('assets_frontend') }}/images/home2-portfolio3.jpg" class="cbp-lightbox">
                    <img src="{{ asset('assets_frontend') }}/images/home2-portfolio3.jpg" alt="">
                    {#<div class="overlay">#}
                        {#<div class="overlay_bottom">#}
                            {#<h4 class="text-uppercase">creative</h4>#}
                            {#<p>35 WP Annyversary</p>#}
                        {#</div>#}
                    {#</div>#}
                </a>
            </div>
            <div class="cbp-item portfolio_border">
                <a href="{{ asset('assets_frontend') }}/images/home2-portfolio2.jpg" class="cbp-lightbox">
                    <img src="{{ asset('assets_frontend') }}/images/home2-portfolio2.jpg" alt="">
                    {#<div class="overlay">#}
                        {#<div class="overlay_bottom">#}
                            {#<h4 class="text-uppercase">creative</h4>#}
                            {#<p>35 WP Annyversary</p>#}
                        {#</div>#}
                    {#</div>#}
                </a>
            </div>
            <div class="cbp-item portfolio_border">
                <a href="{{ asset('assets_frontend') }}/images/home2-portfolio4.jpg" class="cbp-lightbox">
                    <img src="{{ asset('assets_frontend') }}/images/home2-portfolio4.jpg" alt="">
                    {#<div class="overlay">#}
                        {#<div class="overlay_bottom">#}
                            {#<h4 class="text-uppercase">creative</h4>#}
                            {#<p>35 WP Annyversary</p>#}
                        {#</div>#}
                    {#</div>#}
                </a>
            </div>
        </div>
    </div>
</section>
<!--Gallery ends -->

<!-- PRICINGS -->
<section id="pricing" class="padding bg_one">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center wow fadeInDown">
                <h2 class="bottom10 text-capitalize">Paket Kami</h2>
                {#<p class="heading_space">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>#}
            </div>
            {% for item in barang %}
                <div class="col-sm-4">
                    <div class="pricing_table text-center top40 wow fadeInUp">
                        <h3 class="price_title">{% if item.namaBarang is not null %}{{ item.namaBarang }}{% endif %}</h3>
                        <div class="price top30 bottom20">
                            <p><span class="dollor">{% if item.hargaBarang is not null %}{{ item.hargaBarang }}{% endif %}</p>
                        </div>
                        {#<p class="bottom15">Full access</p>#}
                        {#<p class="bottom15">Unlimited Bandwidth</p>#}
                        {#<p class="bottom15">Enail Accounts</p>#}
                        {#<p class="bottom15">8 Free Forks Every Months</p>#}
                        {#<a href="#." class="btn_border text-uppercase top30">sign up</a>#}
                    </div>
                </div>
            {% endfor %}

            {#<div class="col-sm-4">#}
                {#<div class="pricing_table text-center top40 wow fadeInUp">#}
                    {#<h3 class="price_title">Basic</h3>#}
                    {#<div class="price top30 bottom20">#}
                        {#<p><span class="dollor">$</span>26<span class="month">/monthly</span></p>#}
                    {#</div>#}
                    {#<p class="bottom15">Full access</p>#}
                    {#<p class="bottom15">Unlimited Bandwidth</p>#}
                    {#<p class="bottom15">Enail Accounts</p>#}
                    {#<p class="bottom15">8 Free Forks Every Months</p>#}
                    {#<a href="#." class="btn_border text-uppercase top30">sign up</a>#}
                {#</div>#}
            {#</div>#}
            {#<div class="col-sm-4">#}
                {#<div class="pricing_table text-center top40 wow fadeInUp" data-wow-delay="700ms">#}
                    {#<h3 class="price_title">Advanced</h3>#}
                    {#<div class="price top30 bottom20">#}
                        {#<p><span class="dollor">$</span>50<span class="month">/monthly</span></p>#}
                    {#</div>#}
                    {#<p class="bottom15">Full access</p>#}
                    {#<p class="bottom15">Unlimited Bandwidth</p>#}
                    {#<p class="bottom15">Enail Accounts</p>#}
                    {#<p class="bottom15">8 Free Forks Every Months</p>#}
                    {#<a href="#." class="btn_border text-uppercase top30">sign up</a>#}
                {#</div>#}
            {#</div>#}
        </div>
    </div>
</section>
<!-- PRICINGS ends -->



<!--Four Boxes-->
<section id="feature" class="padding_top padding_bottom_half">
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-6 col-md-3 bottom40">
                <div class="feature_up wow fadeInUp" data-wow-delay="300ms">
                    <div class="feature_in centered">
                        <i class="icon-tools bottom10"></i>
                        <h3 class="text-capitalize bottom10">Jangkauan Pengiriman</h3>
                        <p>Gak perlu repot bingung mau pesen dan ambil barang. Cukup pesan disini langsung barang yang diinginkan akan diproses dan diantarkan kerumah / lokasi acara anda.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 bottom40">
                <div class="feature_up wow fadeInUp" data-wow-delay="500ms">
                    <div class="feature_in centered">
                        <i class="icon-mobile bottom10"></i>
                        <h3 class="text-capitalize bottom10">Pengemasan yang baik</h3>
                        <p>kualitas dari hasil produk pesanan menjadi prioritas</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 bottom40">
                <div class="feature_up wow fadeInUp" data-wow-delay="600ms">
                    <div class="feature_in centered">
                        <i class="icon-hotairballoon bottom10"></i>
                        <h3 class="text-capitalize bottom10">Custom Desain</h3>
                        <p>Pengguna dapat memasukkan desainnya bila punya desain sendiri</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 bottom40">
                <div class="feature_up wow fadeInUp" data-wow-delay="700ms">
                    <div class="feature_in centered">
                        <i class="icon-alarmclock bottom10"></i>
                        <h3 class="text-capitalize bottom10">Harga Relatif Murah, Pemesanan yang simple dan Tidak Repot</h3>
                        <p>harga relatif murah karena prinoo berkerjasama dengan pihak vendor pengadaan</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Four Boxes Ends-->
<section id="descrip" class="padding_bottom">
    <h2 class="text-capitalize bottom25"><center>Tertarik memesan di kami?</center></h2>
    <h2 class="text-capitalize bottom25"><center>Silahkan isi form dibawah ini</center></h2>
    <form class="callus" method="post">
        <div class="form-group">
            <label for="harga">Harga</label>
            <select name="barang" id="harga" class="form-control">
                <option value="null">-- Pilih Paket --</option>
                {% for item in barang %}
                    <option value="{{ item.id }}" data-price="{{ item.hargaBarang }}" selected="">{{ item.namaBarang }}</option>
                {% endfor %}
            </select>
            {#<input type="text" class="form-control" placeholder="Your Name">#}
        </div>
        <div class="form-group">
            <label for="jumlah">Total Pemesanan</label>
            <input type="number" name="total_pemesan" id="jumlah" class="form-control" placeholder="Masukkan Total Pemesanan">
        </div>
        <div class="form-group">
            <label for="total">Total Harga</label>
            <input type="text" name="total_harga" id="total" class="form-control" placeholder="Total Harga">
        </div>
        <button class="btn_default btn_border text-uppercase">SUBMIT</button>
    </form>
</section>


<!--FOOTER-->
<footer>
    <div class="container foot_inner padding_top">
        <div class="row">
            <div class="col-sm-4 foot_panel bottom25" style="margin-top: 30px;">
                <img src="{{ asset('assets_frontend') }}/images/prinoo-01.png" alt="logo" class="bottom30">
                {#<p>Start Our Studio Duis aute to irure dolor in reprehenderit in cillum nulla excepteur sint.</p>#}
            </div>
            <div class="col-sm-8 foot_panel">
                <h3 class="bottom30">Get in Touch</h3>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="reach bottom25">
                            <i class="icon-location"></i>
                            <p>Jl Perumahan Bukit Citra Tidar Sukun <br>Malang</p>
                        </div>
                    </div>
                    <div class="col-sm-4 bottom25">
                        <div class="reach bottom10">
                            <i class="icon-icons202"></i>
                            <p>+6282245655117</p>
                        </div>
                        <div class="reach">
                            <i class="icon-mail"></i>
                            <p><a href="#.">prinoo.id@gmail.com</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="row">
                <div class="col-sm-6">
                    <p>Copyrights © 2017 STT MALANG</p>
                </div>
            </div>
        </div>
    </div>
</footer>

{% endblock %}
{% block javascript %}
    <script>
        $('#jumlah').keyup(function() {
            var harga = $('#harga option:selected').attr('data-price');
            var jumlah = $(this).val();

//            console.log(harga * jumlah);

            $('#total').val(harga * jumlah);

        });
    </script>
{% endblock %}