{% extends 'layout_frontend.html.twig' %}

{% block subLayout %}
    <div class="top"></div><div class="left"></div><div class="right"></div>

    <!-- LOADER -->
    <div class="loader">
        <div class="tt-loading-center">
            <div class="tt-loading-center-absolute">
                <div class="tt-object object_four"></div>
                <div class="tt-object object_three"></div>
                <div class="tt-object object_two"></div>
                <div class="tt-object object_one"></div>
            </div>
        </div>
        <div id="loading-text">LOADING</div>
    </div>
    <!--LOADER Ends-->
    <header class="transparent">
        <div class="container-fluid">
            <nav class="navbar navbar-default navbar-fixed white no-background bootsnav">
                <div id="menu_bars" class="right">
                    <span class="t1"></span>
                    <span class="t2"></span>
                    <span class="t3"></span>
                </div>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="{{ path('app_index') }}"><img src="{{ asset('assets_frontend') }}/images/prinoo-01.png" class="logo" alt=""></a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right" data-in="slideIn" data-out="fadeOut">
                        {#<li><a href="portfolio.html">Work</a></li>#}
                        {% if app.user.username is not defined %}
                            <li class="last"><a href="{{ path('app_login') }}">Login</a></li>
                        {% else %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="last"><a href="{{ path('app_admin_index') }}">Dashboard</a></li>
                            {% else %}
                                <li class="last"><a href="{{ path('app_user_home') }}">Dashboard</a></li>
                            {% endif %}
                        {% endif %}
                    </ul>
                </div>
                <div class="sidebar_menu">
                    <nav class="pushmenu pushmenu-right">
                        <a class="push-logo" href="{{ asset('app_user_index') }}"><img src="{{ asset('assets_frontend') }}/images/logo1.png" alt="logo"></a>
                        <ul class="push_nav centered">

                            <li><a href="{{ path('app_login') }}">Login</a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </nav>
                </div>
            </nav>
        </div>
    </header>

    <!-- 404 -->
    <section id="error" class="padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center wow fadeInUp" data-wow-delay="900ms">
                    <div class="error padding_half">
                        {#<img class="img-responsive bottom30" src="images/404.png" alt="404">#}
                        <h2>Register / Login dahulu sebelum melakukan pesanan</h2>
                        {#<p class="heading_space">Sorry, we couldn't find the content you were looking for.</p>#}
                        <a class="btn_border btn_default text-uppercase" href="{{ path('app_home_index') }}">go back to home</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--404 Ends-->



    {#<!--FOOTER-->#}
    {#<footer>#}
    {#<div class="container foot_inner padding_top">#}
    {#<div class="row">#}
    {#<div class="col-sm-4 foot_panel bottom20">#}
    {#<a href="index.html"><img src="{{ asset('assets_frontend') }}/images/logo1.png" alt="logo" class="bottom30"></a>#}
    {#<p>Start Our Studio Duis aute to irure dolor in reprehenderit in cillum nulla excepteur sint.</p>#}
    {#</div>#}
    {#<div class="col-sm-8 foot_panel">#}
    {#<h3 class="bottom30">Get in Touch</h3>#}
    {#<div class="row">#}
    {#<div class="col-sm-4">#}
    {#<div class="reach bottom20">#}
    {#<i class="icon-location"></i>#}
    {#<p>201 Oak Street<br> Building 27<br> Manchester, UK</p>#}
    {#</div>#}
    {#</div>#}
    {#<div class="col-sm-4 bottom20">#}
    {#<div class="reach bottom10">#}
    {#<i class="icon-icons202"></i>#}
    {#<p>+1(123) 456 7890</p>#}
    {#</div>#}
    {#<div class="reach">#}
    {#<i class="icon-mail"></i>#}
    {#<p><a href="#.">hey@avant.com</a></p>#}
    {#</div>#}
    {#</div>#}
    {#<div class="col-sm-4">#}
    {#<ul class="social bottom20">#}
    {#<li><a href="#"><span class="hb"><i class="fa fa-facebook"></i></span></a></li>#}
    {#<li><a href="#"><span class="hb"><i class="icon-twitter4"></i></span></a></li>#}
    {#<li><a href="#"><span class="hb"><i class="icon-google"></i></span></a></li>#}
    {#<li><a href="#"><span class="hb"><i class="icon-dribbble4"></i></span></a></li>#}
    {#<li><a href="#"><span class="hb"><i class="icon-vimeo"></i></span></a></li>#}
    {#</ul>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#<div class="copyright">#}
    {#<div class="row">#}
    {#<div class="col-sm-6">#}
    {#<p>Copyrights &copy; 2016 Avant. All rights reserved</p>#}
    {#</div>#}
    {#<div class="col-sm-6 text-right">#}
    {#<p>Made with love <i class="icon-heart2"></i> By <a href="#.">Themesindustry</a></p>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</footer>#}
{% endblock %}
{% block customJS %}
    <script>

    </script>
{% endblock %}