{% extends 'layout_frontend.html.twig' %}

{% block subLayout %}
    <div id="wrapper" class="clearfix">
        <!-- preloader -->
        <div id="preloader">
            <div id="spinner">
                <div class="preloader-dot-loading">
                    <div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
                </div>
            </div>
            <div id="disable-preloader" class="btn btn-default btn-sm">Disable Preloader</div>
        </div>

        <!-- Header -->
        <header id="header" class="header">
            <div class="header-middle p-0 bg-lightest xs-text-center">
                <div class="container pt-0 pb-0">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-5">
                            <div class="widget no-border m-0">
                                <a class="menuzord-brand pull-left flip xs-pull-center mb-15" href="javascript:void(0)"><img src="{{ asset('assets_frontend') }}/images/prinoo-01.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="widget no-border pull-right sm-pull-none sm-text-center mt-10 mb-10 m-0">
                                <ul class="list-inline">
                                    <li><i class="fa fa-phone-square text-theme-colored font-36 mt-5 sm-display-block"></i></li>
                                    <li>
                                        <p class="font-12 text-gray text-uppercase">Call us today!</p>
                                        <h5 class="font-14 m-0"> +6282245655117</h5>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="widget no-border pull-right sm-pull-none sm-text-center mt-10 mb-10 m-0">
                                <ul class="list-inline">
                                    <li><i class="fa fa-clock-o text-theme-colored font-36 mt-5 sm-display-block"></i></li>
                                    <li>
                                        <p class="font-12 text-gray text-uppercase">We are open!</p>
                                        <h5 class="font-13 text-black m-0"> Mon-Fri 8:00-16:00</h5>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-nav">
                <div class="header-nav-wrapper navbar-scrolltofixed bg-theme-colored border-bottom-theme-color-2-1px">
                    <div class="container">
                        <nav id="menuzord" class="menuzord bg-theme-colored pull-left flip menuzord-responsive">
                            <ul class="menuzord-menu">
                                <li><a href="{{ path('app_home_index') }}">Home</a>
                                </li>
                                <li><a href="{{ path('app_faq') }}">Faq</a></li>
                                <li><a href="{{ path('app_gallery') }}">Gallery</a></li>

                            </ul>
                            <ul class="pull-right flip hidden-sm hidden-xs">
                                <li>
                                    <!-- Modal: Book Now Starts -->
                                    {% if app.user.username is not defined  %}
                                        <a class="btn btn-colored btn-flat bg-theme-color-2 text-white font-14 bs-modal-ajax-load mt-0 p-25 pr-15 pl-15" href="{{ path('app_login') }}">Login</a>
                                    {% else %}
                                        <a href="{{ path('app_user_home') }}" class="btn btn-colored btn-flat bg-theme-color-2 text-white font-14 bs-modal-ajax-load mt-0 p-25 pr-15 pl-15">Dashboard</a>
                                    {% endif %}
                                    <!-- Modal: Book Now End -->
                                </li>
                            </ul>
                            <div id="top-search-bar" class="collapse">
                                <div class="container">
                                    <form role="search" action="#" class="search_form_top" method="get">
                                        <input type="text" placeholder="Type text and press Enter..." name="s" class="form-control" autocomplete="off">
                                        <span class="search-close"><i class="fa fa-search"></i></span>
                                    </form>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>

        <!-- Start main-content -->
        <div class="main-content">

            {% block content %}{% endblock %}

        <!-- Footer -->
        <footer id="footer" class="footer divider layer-overlay overlay-dark-9" data-bg-img="http://placehold.it/1920x1280">
            <div class="container">
                <div class="row border-bottom">
                    <div class="col-sm-6 col-md-4">
                        <div class="widget dark">
                            <img class="mt-5 mb-20" alt="" src="{{ asset('assets_frontend') }}/images/prinoo-01.png">
                            <p>Jl Perumahan Bukit Citra Tidar Sukun Malang</p>
                            <ul class="list-inline mt-5">
                                <li class="m-0 pl-10 pr-10"> <i class="fa fa-phone text-theme-color-2 mr-5"></i> +6282245655117 </li>
                                <li class="m-0 pl-10 pr-10"> <i class="fa fa-envelope-o text-theme-color-2 mr-5"></i>prinoo.id@gmail.com</li>
                                <li class="m-0 pl-10 pr-10"> <i class="fa fa-globe text-theme-color-2 mr-5"></i> http://prinoo.id </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="widget dark">
                            <h4 class="widget-title">Site</h4>
                            <ul class="list angle-double-right list-border">
                                <li><a href="{{ path('app_faq') }}">FAQ</a></li>
                                <li><a href="{{ path('app_gallery') }}">Gallery</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="widget dark">
                            <h4 class="widget-title line-bottom-theme-colored-2">Opening Hours</h4>
                            <div class="opening-hours">
                                <ul class="list-border">
                                    <li class="clearfix"> <span> Mon - Tues :  </span>
                                        <div class="value pull-right"> 6.00 am - 10.00 pm </div>
                                    </li>
                                    <li class="clearfix"> <span> Wednes - Thurs :</span>
                                        <div class="value pull-right"> 8.00 am - 6.00 pm </div>
                                    </li>
                                    <li class="clearfix"> <span> Fri : </span>
                                        <div class="value pull-right"> 3.00 pm - 8.00 pm </div>
                                    </li>
                                    <li class="clearfix"> <span> Sun : </span>
                                        <div class="value pull-right"> Closed </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom bg-black-333">
                <div class="container pt-20 pb-20">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="font-11 text-black-777 m-0"><center>Copyright &copy;2017 STT MALANG &nbsp; <img src="{{ asset('assets_frontend') }}/images/stt.png" height="50" alt=""></center></p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
    </div>
{% endblock %}