{% extends 'sublayout_backend.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="white-box">
                    <h3 class="box-title m-b-0"><center>Daftar Seluruh Pembayaran</center></h3>
                    <div class="table-responsive">
                        <table id="myTable" class="table table-striped">
                            <thead>
                            <tr>
                                <th>No.</th>
                                <th>Nama Pembayar</th>
                                <th>Alamat Pembayar</th>
                                <th>Status</th>
                                <th>Aksi</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% set i = 1 %}
                            {% if data|length > 0 %}
                                {% for item in data %}
                                    <tr>
                                        <td>{{ i }}</td>
                                        <td>
                                            {% if item.user is not null %}
                                                {{ item.user.firstName }}&nbsp;{{ item.user.lastName }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if item.user is not null %}
                                                {{ item.user.address }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if item.isConfirm is not null %}
                                                {% if item.isConfirm == 0 %}
                                                    <span class="label label-danger">Belum Dikonfirmasi</span>
                                                {% else %}
                                                    <span class="label label-success">Sudah Dikonfirmasi</span>
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                        <td>
                                            <a href="{{ path('app_admin_edit_confirm',{id: item.id}) }}" class="btn btn-primary btn-xs">EDIT</a>
                                            <a href="{{ path('app_admin_delete_pembayaran',{id: item.id}) }}" class="btn btn-danger btn-xs">DELETE</a>
                                        </td>
                                    </tr>
                                    {% set i = i + 1 %}
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="4"><center>Tidak ada data</center></td>
                                </tr>
                            {% endif %}
                            {#{% if data|length > 0 %}#}
                                {#{% set i = 1 %}#}
                                {#{% for dat in data %}#}
                                    {#<tr>#}
                                        {#<td>{{ i }}</td>#}
                                        {#<td>{{ dat.kodeBarang }}</td>#}
                                        {#<td>#}
                                            {#{% if dat.user is defined and not null %}#}
                                                {#{{ dat.user.firstName }}&nbsp;{{ data.user.lastName }}#}
                                            {#{% endif %}    #}
                                        {#</td>#}
                                        {#<td>#}
                                            {#{% if dat.user is defined and not null %}#}
                                                {#{{ dat.user.address }}#}
                                            {#{% endif %}    #}
                                        {#</td>#}
                                        {#<td>#}
                                            {#<a href="{{ path('app_admin_edit_confirm',{id: dat.id}) }}" class="btn btn-primary btn-xs">EDIT</a>#}
                                            {#<a href="{{ path('app_admin_delete_pembayaran',{id: dat.id}) }}" class="btn btn-danger btn-xs">DELETE</a>#}
                                        {#</td>#}
                                    {#</tr>#}
                                    {#{% set i = i + 1 %}#}
                                {#{% endfor %}#}
                            {#{% else %}#}
                                {#<tr>#}
                                    {#<td colspan="9"><center>Tidak ada data</center></td>#}
                                {#</tr>#}
                            {#{% endif %}#}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block customJS %}
    <script>
        $('#myTable').dataTable();
    </script>
{% endblock %}