{% extends 'sublayout_backend.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="white-box">
                    <h3 class="box-title m-b-0">Daftar Pembayaran</h3>
                    <div class="table-responsive">
                        <table id="myTable" class="table table-striped">
                            <thead>
                            <tr>
                                <th>No.</th>
                                <th>Nama Pengguna</th>
                                <th>Nama Paket</th>
                                <th>Alamat</th>
                                <th>Status</th>
                                <th>Aksi</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if data|length > 0 %}
                                {% set i = 1 %}
                                <tr>
                                    <td>{{ i }}</td>
                                    <td>{% if data.user is not null %}{{ data.user.firstName }}&nbsp;{{ data.user.lastName }}{% endif %}</td>
                                    <td>{% if data.barang is not null %}{{ data.barang.namaBarang }}{% endif %}</td>
                                    <td>{% if data.user is not null %}{{ data.user.address }}{% endif %}</td>
                                    <td>
                                        {% if data.isConfirm is not null %}
                                            {% if data.isConfirm == 0 %}
                                                <span class="label label-error">Belum Diproses</span>
                                            {% else %}
                                                <span class="label label-success">Sudah Diproses</span>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="{{ path('app_user_delete_pembayaran') }}" class="btn btn-danger btn-xs">DELETE</a>
                                    </td>
                                </tr>
                                {% set i = i + 1 %}
                            {% else %}
                                <tr>
                                    <td colspan="6"><center>Tidak ada data</center></td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block customJS %}
    <script>
        $('#myTable').dataTable();
    </script>
{% endblock %}